In [8]:
# Libraries
import pandas as pd
import os
import numpy as np
from matplotlib import pyplot as plt
import datetime as dt
import xgboost as xgb
from sklearn import preprocessing

# Written code
import utils
import preprocess
import model

In [2]:
train = pd.read_csv('train_trendency.csv')
test = pd.read_csv('test.csv')

In [3]:
TRAIN_START = train.Date.min()
TEST_START = test.Date.min()
TRAIN_END = train.Date.max()
TEST_END = test.Date.max()

DATEFORMAT = '%m-%d-%Y'

In [5]:
result = model.generate_prediction(TRAIN_START, TEST_START, TRAIN_END, TEST_END)

[0]	train-logc-rmse:0.49179
[100]	train-logc-rmse:0.18015
[200]	train-logc-rmse:0.06604
[300]	train-logc-rmse:0.02432
[400]	train-logc-rmse:0.00920
[500]	train-logc-rmse:0.00396
[600]	train-logc-rmse:0.00241
[700]	train-logc-rmse:0.00202
[799]	train-logc-rmse:0.00189
[0]	train-logd-rmse:0.49114
[100]	train-logd-rmse:0.17998
[200]	train-logd-rmse:0.06616
[300]	train-logd-rmse:0.02488
[400]	train-logd-rmse:0.01057
[500]	train-logd-rmse:0.00638
[600]	train-logd-rmse:0.00545
[700]	train-logd-rmse:0.00522
[799]	train-logd-rmse:0.00513

In [6]:
submission = test.copy()
submission = submission.merge(result)

submission['ID'] = range(0, len(submission))
submission['Confirmed'] = submission['p_expc']
submission['Deaths'] = submission['p_expd']
submission

,Unnamed: 0,Province_State,Date,Confirmed,Deaths,LogConfirmed,LogConfirmedDelta,LogDeaths,LogDeathsDelta,dc_ratio,...,logd_10d,logd_1d,logd_21d,logd_3d,logd_7d,p_logc,p_logd,p_expc,p_expd,ID
0,0,Alabama,04-01-2021,5.165771e+05,10588.913455,13.154982,NaN,9.267657,NaN,0.020500,...,9.253112,9.264355,9.237469,9.261699,9.259607,0.002305,0.003302,5.165771e+05,10588.913455,0
1,1,Alaska,04-01-2021,6.307851e+04,314.298047,11.052151,NaN,5.753518,NaN,0.004998,...,5.739793,5.749393,5.723585,5.749393,5.749393,0.002818,0.004125,6.307851e+04,314.298047,1
2,2,Arizona,04-01-2021,8.438490e+05,17021.388535,13.645730,NaN,9.742285,NaN,0.020172,...,9.725915,9.739084,9.708810,9.736193,9.733589,0.002418,0.003200,8.438490e+05,17021.388535,2
3,3,Arkansas,04-01-2021,3.311303e+05,5641.064455,12.710270,NaN,8.638005,NaN,0.017039,...,8.620652,8.635332,8.597482,8.630879,8.625509,0.002214,0.002674,3.311303e+05,5641.064455,3
4,4,California,04-01-2021,3.674318e+06,59522.349216,15.116878,NaN,10.994124,NaN,0.016200,...,10.962371,10.989943,10.929117,10.985818,10.974660,0.001518,0.004181,3.674318e+06,59522.349216,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1495,Virginia,04-30-2021,6.630172e+05,11072.512673,13.404558,NaN,9.312311,NaN,0.016702,...,9.288853,9.310059,9.260248,9.305487,9.296108,0.002683,0.003014,6.630172e+05,11072.512673,1495
1496,1496,Washington,04-30-2021,4.145771e+05,5817.492972,12.935017,NaN,8.668797,NaN,0.014035,...,8.636297,8.665465,8.598783,8.658799,8.645981,0.007032,0.004458,4.145771e+05,5817.492972,1496
1497,1497,West Virginia,04-30-2021,1.536073e+05,3147.382691,11.942161,NaN,8.054644,NaN,0.020496,...,8.005541,8.049973,7.945246,8.040490,8.020837,0.003170,0.006251,1.536073e+05,3147.382691,1497
1498,1498,Wisconsin,04-30-2021,6.665152e+05,8253.340372,13.409820,NaN,9.018494,NaN,0.012384,...,8.983786,9.015178,8.937631,9.008446,8.994567,0.001869,0.004438,6.665152e+05,8253.340372,1498
1499,1499,Wyoming,04-30-2021,5.937679e+04,772.345904,10.991675,NaN,6.650726,NaN,0.013024,...,6.617046,6.647509,6.582775,6.640975,6.627508,0.002524,0.004307,5.937679e+04,772.345904,1499

In [7]:
submission[['ID', 'Confirmed', 'Deaths']].to_csv('Team2.csv', index=False)